@font-face{
    font-family: "icons";
    src: url("fonts/websymbols-regular-webfont.svg#WebSymbolsRegular") format('svg'),
         url("fonts/websymbols-regular-webfont.eot");
    src: url("fonts/websymbols-regular-webfont.eot?#iefix") format('embedded-opentype'),
         url("fonts/websymbols-regular-webfont.woff") format('woff'),
         url("fonts/websymbols-regular-webfont.ttf") format('truetype');
    font-weight: normal;
    font-style: normal;
}

*{
	padding: 0;
	margin: 0;
}

.clearfix{
    float: none;
    clear: both;
}

#header{
	height: 100px;
	text-align: center;
	display: none;
}

#header h1{
	line-height: 90px;
}

#content{
	padding: 30px;
}

#content #buscar{
	border-radius: 50px;
	padding: 4px;
	padding-left: 30px;
	width: 230px;
}

.icon{
    font-family: "icons";
    position: absolute;
    left: 42px;
    padding-top: 4px;
}

#content #btnNuevo{
	float: right;
	border-radius: 5px;
	width: 100px;
	padding: 4px;
	font-weight: bold;
	cursor: pointer;
	background-color: #efecec;
}

#content #btnNuevo:hover{
    box-shadow: 0px 0px 2px gray;

}

#content #btnNuevo:active{
    box-shadow: 0px 0px 3px gray inset;
}

#tblListado{
	width: 100%;
	margin-top: 20px;
	border-collapse: collapse;
}

#tblListado th, #tblListado td {
	border: 1px solid black;
	padding: 4px;	
}

#tblListado th{
	background-color: #efecec;
}

#tblListado tbody tr td:first-child,
#tblListado tbody tr td:last-child{
	text-align: center;
}

#tblListado tbody tr td:last-child a{
	margin-right: 7px;
	padding: 2px;
	text-decoration: none;
	cursor: pointer;
	color:red;
	border: 1px solid black;
	
}

#formulario *{
	height: 30px;
}

#formulario{
	padding: 7px;

}

#formulario p{
	margin-bottom: 15px;
}

#formulario p label{
	display: block;
	float: left;
	width: 70px;
	line-height: 30px;
}

#formulario > p > input{
	display: block;
	width: 300px;
}

#formulario input[type="submit"]{
	display: block;
	padding: 4px;
	cursor: pointer;
}